@media (min-width: 576px) {
  .password-manager-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f8fafc;
    color: #454f84;
  }
  /* .show-password-container {
    display: flex;
    align-items: center;
  } */

  .show-password-container label {
    margin-left: 8px;
  }

  /* Add your medium, large, and extra-large screen styles here */
}
